<h1>Te voilà sur ma page About</h1>
<p>Bravo c'est cool hein?<br/>
Bon maintenant je te propose deux autres page</p>
 
 <!--a href="/about/me">ma page</a><br/-->
 <%= link_to 'ma super page', me_path %><br/>
 <!--a href="/about/mon_binome">sa page</a-->
 <%= link_to 'sa page', mon_binome_path %> 